# Игнорирование файлов и папок, созданных операционной системой
.DS_Store
Thumbs.db

# Игнорирование файлов локальных настроек IDE
.idea/
.vscode/

# Игнорирование файлов и папок временных файлов
*.log
*.tmp
*.swp
*.bak
*~

# Игнорирование файлов конфигурации и ключей
*.conf
*.pem
*.key

# Игнорирование файлов зависимостей
/node_modules/
/vendor/

# Игнорирование файлов сборки и промежуточных файлов
/build/
/dist/
/out/


# для питона
/__pycache__/
*.pyc
/venv/
/.venv/


/output/
/output_*/
